/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component-name.scss => Styles for a component of functionality (e.g. – modal).
 * _page-name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

/// Primary page header
.header-primary {
  background: $gray--light;  // demo
  height: $header-height;
  padding-left: $sidebar__width--collapsed + $content-padding;
  padding-right: $content-padding;
  @include span-columns(12);
  @include transition(all 0.25s linear);
}

/// Container for page content.
.content-primary {
  padding-left: $sidebar__width--collapsed + $content-padding;
  padding-right: $content-padding;
  padding-top: $content-padding;
  @include span-columns(12);
  @include transition(all 0.25s linear);
}

/// Base nav styles.
%nav,
.nav {
  background: $gray--dark; // demo

  /// Need to research if this is really faster or if it's okay to style `li`
  /// tag directly as long as it's not out of control...
  &__li {
    border-bottom: $base-border;
    padding: em(10)
  }
}

/// The expanded "drawer" nav
.nav-primary {
  padding-left: $sidebar__width--collapsed;
}

/// Always-visible, fixed-left sidebar nav.
.nav-primary--mini {
  text-align: center;
}

%sidebar,
.sidebar {
  background: $gray--dark; // demo
  position: fixed;
  height: 100%;
  width: $sidebar__width;
  z-index: 8;

  &__header {
    color: white;
    display: block;
    height: $header-height;
  }
}

.sidebar--full {
  @include transition(all 0.25s linear);

  &--is-hidden {
    @include transform(translateX(em(-225px)));
  }

  &--is-visible {
    @include transform(translateX(0));
  }

  .sidebar__header {
    padding-left: $sidebar__width--collapsed + em(10);
  }
}

.sidebar--mini {
  width: $sidebar__width--collapsed;
  z-index: 9;
}
