.hero {
  color: $base-font-color;
  height: 100vh;
  text-align: center;
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);

  &__logo {
    margin-bottom: 0.15em;
  }
}
