%media {
  @extend %clearfix;
  display: block;
}

%media__img {
  float: left;
  margin-right: $media-gutter;
  max-height: 100%; // prevent images from bleeding outside the media object

  > img {
    display: block;
  }
}

%media__body {
  overflow: hidden;
  display: block;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}
